Repository adrianwedd/ADHDo: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-coverage, adhd-performance-check

test-coverage:
  name: test-coverage
  entry: poetry run pytest tests/unit --cov=src/mcp_server --cov-fail-under=80 --co -q
  language: system
  pass_filenames: false
  stages:
  - pre-push

adhd-performance-check:
  name: adhd-performance-check
  entry: poetry run python scripts/check_adhd_performance.py
  language: system
  pass_filenames: false
  stages:
  - pre-push

🎉 COMPLETE ADHD SERVER - Production Ready for Beta Users
  .env.development
  .env.example
  BETA_DEPLOYMENT_READY.md
  DEPLOYMENT.md
  DEPLOYMENT_GUIDE.md
  Dockerfile
  QUICK_START.md
  README.md
  docker-compose.development.yml
  docker-compose.yml
  docs/API_DOCUMENTATION.md
  docs/README.md
  monitoring/grafana/dashboards/adhd-performance.json
  monitoring/grafana/datasources/prometheus.yml
  monitoring/prometheus.yml
  nginx/nginx.conf
  nginx/ssl/cert.pem
  nginx/ssl/key.pem
  run_phase0_testing.sh
  scripts/generate-secrets.sh
  scripts/generate-ssl-cert.sh
  scripts/health-check.sh
  scripts/init-db.sql
  src/mcp_server/auth.py
  src/mcp_server/main.py
  src/mcp_server/middleware.py
  src/mcp_server/onboarding.py
  src/mcp_server/telegram_bot.py
  start_dev_server.py
  static/index.html
  test_auth_simple.py
  test_e2e_system.py
  test_onboarding.py
  test_telegram_bot.py
  tests/playwright/phase0_beta_testing.py
  tests/playwright/playwright.config.py
  tests/playwright/requirements.txt
  validate_tests.py
Due: test-coverage, adhd-performance-check

✨ Complete Automated Onboarding System for Beta Testers
  .gitignore
  2025-08-06-this-session-is-being-continued-from-a-previous-co.txt
  BETA_DEPLOYMENT_READY.md
  DEPLOYMENT_GUIDE.md
  QUICK_START.md
  README.md
  docs/API_DOCUMENTATION.md
  scripts/add_beta_endpoints.py
  scripts/auto_setup.sh
  scripts/setup_for_personal_use.sh
  scripts/setup_telegram_bot.py
  scripts/templates/.env.template
  src/mcp_server/__pycache__/auth.cpython-311.pyc
  src/mcp_server/__pycache__/main.cpython-311.pyc
  src/mcp_server/__pycache__/telegram_bot.cpython-311.pyc
  src/mcp_server/beta_onboarding.py
  src/mcp_server/main.py
Due: test-coverage, adhd-performance-check

🔌 Complete MCP Client Framework with Browser OAuth & Gmail Integration
  scripts/add_mcp_endpoints.py
  src/mcp_client/__init__.py
  src/mcp_client/auth.py
  src/mcp_client/browser_auth.py
  src/mcp_client/client.py
  src/mcp_client/models.py
  src/mcp_client/registry.py
  src/mcp_client/workflow.py
  src/mcp_server/main.py
  src/mcp_server/mcp_integration.py
  src/mcp_tools/__init__.py
  src/mcp_tools/gmail_tool.py
  static/mcp_setup.html
Due: test-coverage, adhd-performance-check

🏠 COMPLETE GOOGLE NEST INTEGRATION - Production Ready
  session_export_2025-08-06.md
  src/mcp_client/browser_auth.py
  src/mcp_server/mcp_integration.py
  src/mcp_tools/__init__.py
  src/mcp_tools/nest_tool.py
  static/mcp_setup.html
Due: test-coverage, adhd-performance-check

🏗️ ENTERPRISE GITHUB AUTOMATION SYSTEM - Complete Implementation
  .claude/agents/codeforge-architect.md
  .claude/agents/verifier-scribe.md
  .github/workflows/issue-grooming.yml
  ISSUE_GROOMING_RECOMMENDATIONS.md
  alembic/versions/002_github_automation_schema.py
  docker-compose.github-automation.yml
  docker/entrypoint-github-automation.sh
  docker/github-automation.dockerfile
  docs/GITHUB_AUTOMATION_ARCHITECTURE.md
  docs/GITHUB_AUTOMATION_DEPLOYMENT_GUIDE.md
  docs/ISSUE_GROOMING_GUIDE.md
  issue_grooming_analysis.md
  reports/issue_grooming_report_20250807_033345.md
  scripts/github_issue_grooming.py
  scripts/run_issue_grooming.sh
  src/github_automation/__init__.py
  src/github_automation/audit_logger.py
  src/github_automation/automation_engine.py
  src/github_automation/cache_manager.py
  src/github_automation/feature_detector.py
  src/github_automation/github_client.py
  src/github_automation/models.py
  src/github_automation/rate_limiter.py
  src/github_automation/requirements-automation.txt
  src/github_automation/rollback_manager.py
  src/github_automation/webhook_handler.py
  src/mcp_server/github_automation_endpoints.py
  src/mcp_server/main.py
  tests/integration/github_automation/test_api_endpoints.py
  tests/performance/github_automation/test_performance.py
  tests/unit/github_automation/__init__.py
  tests/unit/github_automation/test_automation_engine.py
Due: test-coverage, adhd-performance-check

🧹 Fix Python bytecode tracking and enhance .gitignore
  .gitignore
  src/mcp_server/__pycache__/__about__.cpython-311.pyc
  src/mcp_server/__pycache__/__init__.cpython-311.pyc
  src/mcp_server/__pycache__/auth.cpython-311.pyc
  src/mcp_server/__pycache__/cognitive_loop.cpython-311.pyc
  src/mcp_server/__pycache__/config.cpython-311.pyc
  src/mcp_server/__pycache__/database.cpython-311.pyc
  src/mcp_server/__pycache__/db_models.cpython-311.pyc
  src/mcp_server/__pycache__/llm_client.cpython-311.pyc
  src/mcp_server/__pycache__/main.cpython-311.pyc
  src/mcp_server/__pycache__/models.cpython-311.pyc
  src/mcp_server/__pycache__/telegram_bot.cpython-311.pyc
Due: adhd-performance-check

🏗️ MAJOR REFACTOR: Modular Architecture Implementation
  .github/workflows/evolutionary-ci.yml
  src/mcp_server/main.py
  src/mcp_server/main.py.backup
  src/mcp_server/routers/__init__.py
  src/mcp_server/routers/auth_routes.py
  src/mcp_server/routers/beta_routes.py
  src/mcp_server/routers/chat_routes.py
  src/mcp_server/routers/evolution_routes.py
  src/mcp_server/routers/health_routes.py
  src/mcp_server/routers/user_routes.py
  src/mcp_server/routers/webhook_routes.py
  src/mcp_server/websocket_manager.py
  static/evolution-observatory.html
Due: test-coverage, adhd-performance-check

⚡ SIMPLIFY CI/CD: Cost-effective pipeline optimization
  .github/workflows/ci-complex.yml.backup
  .github/workflows/ci.yml
  .github/workflows/evolutionary-ci.yml
Due: none

🎨 FRONTEND REFACTOR: Modularize Evolution Observatory Dashboard
  static/css/evolution-observatory.css
  static/evolution-observatory-monolithic.html.backup
  static/evolution-observatory.html
  static/js/evolution-observatory.js
Due: none

🚨 SECURITY FIX: Add missing hashlib import to resolve authentication bypass
  src/mcp_server/auth.py
Due: test-coverage, adhd-performance-check

🔒 SECURITY: Update python-jose to 3.4.0 to fix critical vulnerabilities
  src/github_automation/requirements-automation.txt
Due: none

🔒 SECURITY FIX: Update sentry-sdk to v2.34.1 - Resolve CVE-2024-40647
  docker/github-automation.dockerfile
  src/github_automation/requirements-automation.txt
Due: none

🚀 PERFORMANCE OPTIMIZATION - Issue #42 Complete
  PERFORMANCE_OPTIMIZATION_REPORT.md
  scripts/performance_profiler.py
  src/mcp_server/database.py
  src/mcp_server/main.py
  src/mcp_server/performance_config.py
  src/mcp_server/response_cache.py
  tests/test_performance_regression.py
Due: test-coverage, adhd-performance-check

🔥 Implement Issue #16 - Comprehensive OpenAPI Documentation Portal
  pyproject.toml
  src/mcp_server/main.py
  src/mcp_server/models.py
  src/mcp_server/routers/__init__.py
  src/mcp_server/routers/chat_routes.py
  src/mcp_server/routers/docs_routes.py
  static/css/docs-portal.css
  static/js/docs-portal.js
  templates/docs_portal.html
Due: test-coverage, adhd-performance-check

🎉 MAJOR FEATURE RELEASE - Complete ADHD-First Development Experience
  .env.example
  GOOGLE_CALENDAR_INTEGRATION_SUMMARY.md
  docs/ADHD_ERROR_HANDLING.md
  docs/adhd_errors_demo.py
  src/calendar/__init__.py
  src/calendar/client.py
  src/calendar/context.py
  src/calendar/models.py
  src/calendar/nudges.py
  src/calendar/processor.py
  src/mcp_server/adhd_errors.py
  src/mcp_server/cognitive_loop.py
  src/mcp_server/config.py
  src/mcp_server/exception_handlers.py
  src/mcp_server/main.py
  src/mcp_server/middleware.py
  src/mcp_server/routers/__init__.py
  src/mcp_server/routers/auth_routes.py
  src/mcp_server/routers/calendar_routes.py
  src/mcp_server/routers/user_routes.py
  static/calendar-setup.html
  tests/test_adhd_errors.py
Due: test-coverage, adhd-performance-check

🔐 CRITICAL SECURITY IMPLEMENTATION - Issue #48 Complete
  AUTHENTICATION_SECURITY_IMPLEMENTATION.md
  alembic/versions/003_authentication_security.py
  alembic/versions/ca59600a9969_merge_authentication_security_with_.py
  src/mcp_server/config.py
  src/mcp_server/db_models.py
  src/mcp_server/enhanced_auth.py
  src/mcp_server/main.py
  src/mcp_server/routers/auth_routes.py
  src/mcp_server/security_middleware.py
  tests/integration/auth/test_session_persistence.py
  tests/performance/test_adhd_auth_performance.py
  tests/unit/auth/test_enhanced_auth_manager.py
  tests/unit/auth/test_security_middleware.py
Due: test-coverage, adhd-performance-check

🏗️ CRITICAL FOUNDATION COMPLETE - Enterprise Production Readiness
  ISSUE_49_IMPLEMENTATION_COMPLETE.md
  MONITORING_IMPLEMENTATION.md
  monitoring/docker-compose.monitoring.yml
  monitoring/prometheus/prometheus.yml
  pyproject.toml
  scripts/setup_monitoring.py
  src/mcp_server/dashboard_config.py
  src/mcp_server/database.py
  src/mcp_server/database_alerting.py
  src/mcp_server/database_migration.py
  src/mcp_server/database_monitoring.py
  src/mcp_server/database_testing.py
  src/mcp_server/middleware.py
  src/mcp_server/monitoring.py
  src/mcp_server/monitoring_middleware.py
  src/mcp_server/routers/health_routes.py
  src/mcp_server/routers/monitoring_routes.py
  test_auth_integration.py
  test_database_infrastructure.py
  test_enhanced_auth_system.py
  validate_implementation.py
Due: test-coverage, adhd-performance-check

🔒 COMPLETE CRITICAL INFRASTRUCTURE HARDENING - Issue #52
  .github/workflows/security-hardening.yml
  docs/INFRASTRUCTURE-HARDENING-SUMMARY.md
  docs/operations/backup-recovery.md
  docs/operations/incident-response.md
  docs/operations/monitoring-playbooks.md
  pyproject.toml
  scripts/security-validation.sh
  src/mcp_server/background_processing.py
  src/mcp_server/cache_strategies.py
  src/mcp_server/caching_system.py
  src/mcp_server/cognitive_loop_integration.py
  src/mcp_server/config.py
  src/mcp_server/database_optimization.py
  src/mcp_server/enhanced_security_middleware.py
  src/mcp_server/input_validation.py
  src/mcp_server/main.py
  src/mcp_server/routers/background_routes.py
  src/mcp_server/task_monitoring.py
  tests/e2e/test_adhd_user_scenarios.py
  tests/integration/test_cognitive_loop_integration.py
  tests/performance/background_processing/test_background_performance.py
  tests/performance/background_processing/test_cache_performance.py
  tests/performance/test_adhd_performance_load.py
  tests/security/test_security_hardening.py
  tests/unit/safety/test_circuit_breaker.py
  tests/unit/safety/test_crisis_detection.py
  tests/unit/safety/test_emergency_access.py
  tests/unit/security/test_auth_security.py
Due: test-coverage, adhd-performance-check

🔍 CRITICAL PROJECT ANALYSIS & ROADMAP - Vision Understanding Complete
  CRITICAL_ANALYSIS.md
  IMPLEMENTATION_PLAN.md
  README_QUICK_START.md
  UNDERSTANDING_THE_VISION.md
  VALIDATION_REPORT.md
  adhdo_server.py
  src/calendar_integration/__init__.py
  src/calendar_integration/client.py
  src/calendar_integration/context.py
  src/calendar_integration/models.py
  src/calendar_integration/nudges.py
  src/calendar_integration/processor.py
  src/mcp_server/cognitive_loop.py
  src/mcp_server/routers/calendar_routes.py
  start.sh
  start_adhd_server.py
  test_chat_validation.py
Due: test-coverage, adhd-performance-check

🎉 BREAKTHROUGH: Core Cognitive Loop Now Runnable - Issue #57 SOLVED
  src/mcp_server/minimal_main.py
Due: test-coverage, adhd-performance-check

📋 Session Summary - Major Breakthrough Complete
  SESSION_SUMMARY_SUCCESS.md
Due: none

✅ CLAUDE PRO INTEGRATION + OLLAMA + SAFETY VALIDATION COMPLETE
  TEST_IMPLEMENTATION_SUMMARY.md
  pytest.ini
  scripts/test_background_processing.py
  src/calendar/__init__.py
  src/calendar/client.py
  src/calendar/context.py
  src/calendar/models.py
  src/calendar/nudges.py
  src/calendar/processor.py
  src/mcp_client/browser_auth.py
  src/mcp_server/claude_client.py
  src/mcp_server/llm_client.py
  src/mcp_server/main.py
  src/mcp_server/minimal_main.py
  src/mcp_server/routers/claude_auth_router.py
  test_simple_server.py
  tests/test_runner.py
  tests/unit/safety/test_safety_response_validation.py
Due: test-coverage, adhd-performance-check

🧠 PORT 23443: ADHD-Friendly Network Configuration
  .env.example
  NETWORK_ACCESS.md
  src/mcp_server/minimal_main.py
  start_network.sh
Due: test-coverage, adhd-performance-check

🎯 NEST NUDGE SYSTEM COMPLETE - Issue #74-87 Integration
  src/mcp_server/minimal_main.py
  src/mcp_server/nest_nudges.py
  test_direct_nudge.py
  test_nest_nudges.py
  test_nudge_with_wait.py
Due: test-coverage, adhd-performance-check

📚 COMPLETE IMPLEMENTATION DOCUMENTATION - Nest Nudge System
  NEST_NUDGE_IMPLEMENTATION.md
Due: none

📚 README UPDATE: Nest Nudge System & Music Integration
  README.md
Due: none

🏆 PHASE 1 COMPLETE: Nest Nudge System & Music Integration
  PHASE_1_COMPLETE.md
Due: none

🚨 CRITICAL REALITY CHECK: Honest Assessment of Nudge System
  HONEST_STATUS_ASSESSMENT.md
Due: none

📋 COMPREHENSIVE TODO ROADMAP - 44 Implementation Tasks Loaded
  CONTEXT_AWARE_PROMPTING.md
  calendar_auth_example.html
  demo_accountability_buddy.py
  integrations_setup.html
  mcp_dashboard.html
  scripts/test_all_systems.py
  setup_home_assistant.py
  src/mcp_server/adhd_logger.py
  src/mcp_server/cognitive_loop.py
  src/mcp_server/context_aware_prompting.py
  src/mcp_server/google_calendar_simple.py
  src/mcp_server/home_assistant_integration.py
  src/mcp_server/jellyfin_music.py
  src/mcp_server/llm_client.py
  test_chromecast.py
  test_ha_integration.py
  test_ha_simple.py
  tests/playwright/mcp_core_tests.py
  tests/playwright/phase0_beta_testing.py
  tests/simple_beta_test.py
Due: test-coverage, adhd-performance-check

🔧 FIX: Zeroconf threading issue in API nudge endpoints
  src/mcp_server/nest_nudges.py
  working_nudge_server.py
Due: test-coverage, adhd-performance-check

🎯 CRITICAL INFRASTRUCTURE COMPLETE - CLI Tools & Jellyfin Integration
  adhdo_server.py
  debug_chromecast.py
  debug_chromecast2.py
  mcp_dashboard.html
  mcp_dashboard_old.html
  src/mcp_server/main.py
  src/mcp_server/minimal_main.py
  test_api_nudge.py
  test_concurrent.sh
  test_fresh_discovery_nudge.py
  test_nudge.json
Due: test-coverage, adhd-performance-check

🎯 BREAKTHROUGH: Complete Chromecast Music Integration
  debug_music_chromecast.py
  src/mcp_server/jellyfin_music.py
  src/mcp_server/nest_nudges.py
Due: test-coverage, adhd-performance-check

🎯 COMPLETE GOOGLE ASSISTANT BROADCAST INTEGRATION - Wearable ADHD Support
  src/mcp_server/google_assistant_integration.py
  src/mcp_server/minimal_main.py
  src/mcp_server/pixel_watch_integration.py
Due: test-coverage, adhd-performance-check

🎉 BREAKTHROUGH: TTS AUDIO WORKING\! - Fixed Audio Serving Infrastructure
  debug_chromecast_real.py
  detailed_debug.py
  simple_debug.py
  src/mcp_server/minimal_main.py
  src/mcp_server/nest_nudges.py
  test_audio_debug.py
  test_chromecast_network.py
  test_local_audio.py
  test_real_audio.py
  test_simple_beep.py
  test_tts.mp3
Due: test-coverage, adhd-performance-check

🎵 COMPLETE AUDIO SYSTEM FIX - Music & Nudges Working\!
  .gitignore
  AUDIO_FIX_DOCUMENTATION.md
  src/mcp_server/external_music.py
  src/mcp_server/jellyfin_music.py
  src/mcp_server/minimal_main.py
  src/mcp_server/nest_nudges.py
  src/mcp_server/smart_scheduler.py
  static/mobile-scheduler.html
Due: test-coverage, adhd-performance-check

🧠 Add ADHD reminder system with Nest integration
  mcp_dashboard.html
  src/mcp_server/adhd_reminders.py
  src/mcp_server/minimal_main.py
Due: test-coverage, adhd-performance-check

🎯 Fix device targeting - nudges no longer interrupt music
  src/mcp_server/nest_nudges.py
Due: test-coverage, adhd-performance-check

🎤 Add voice interface and calendar integration
  src/mcp_server/minimal_main.py
  src/mcp_server/voice_assistant.py
  src/mcp_server/voice_calendar_integration.py
Due: test-coverage, adhd-performance-check

Path conditions:
  test-coverage: any of: \.py$
  adhd-performance-check: any of: ^(src/mcp_server/|tests/performance/)
