Repository adrianwedd/ADHDo: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-coverage, adhd-performance-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: debug-statements
      - id: name-tests-test
        args: ['--pytest-test-first']

  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        args: [--line-length=88]
        language_version: python3

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.1.9
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [types-redis, types-requests]
        args: [--ignore-missing-imports]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args: [-r, src/]
        exclude: tests/

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--profile=black, --line-length=88]

  - repo: https://github.com/Lucas-C/pre-commit-hooks-safety
    rev: v1.3.2
    hooks:
      - id: python-safety-dependencies-check

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: \.(json|yml|yaml|md)$
        exclude: ^(poetry\.lock|\.vscode/)

  - repo: local
    hooks:
      - id: pytest-check
        name: pytest-check
        entry: poetry run pytest tests/unit --co -q
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        stages: [pre-push]

      - id: test-coverage
        name: test-coverage
        entry: poetry run pytest tests/unit --cov=src/mcp_server --cov-fail-under=80 --co -q
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

      - id: adhd-performance-check
        name: adhd-performance-check
        entry: poetry run python scripts/check_adhd_performance.py
        language: system
        files: ^(src/mcp_server/|tests/performance/)
        pass_filenames: false
        stages: [pre-push]

🔒 Fix critical XSS vulnerabilities in dashboard
  mcp_dashboard.html
Due: none

🔒 Fix XSS vulnerability and enhance dashboard security
  .gitignore
  CLAUDE.md
  src/mcp_server/minimal_main.py
  src/mcp_server/voice_assistant.py
  src/mcp_server/voice_calendar_integration.py
Due: test-coverage, adhd-performance-check

🧠 Implement stateful cognitive loop with persistent awareness
  src/mcp_server/cognitive_endpoints.py
  src/mcp_server/stateful_cognitive_loop.py
Due: test-coverage, adhd-performance-check

✨ Add comprehensive Claude integration and ADHD support features
  src/mcp_server/adhd_assistant.py
  src/mcp_server/claude_browser_auth.py
  src/mcp_server/claude_browser_working.py
  src/mcp_server/claude_only_endpoint.py
  src/mcp_server/claude_playwright.py
  src/mcp_server/claude_with_tools.py
  src/mcp_server/component_adapters.py
  src/mcp_server/google_calendar_simple.py
  src/mcp_server/google_oauth_flow.py
  src/mcp_server/google_oauth_simple.py
  src/mcp_server/integration_endpoints.py
  src/mcp_server/integration_hub.py
  src/mcp_server/jellyfin_music.py
  src/mcp_server/llm_client.py
  src/mcp_server/simple_claude_chat.py
  src/mcp_server/smart_scheduler.py
  src/mcp_server/unified_google_auth.py
Due: test-coverage, adhd-performance-check

🚀 Add comprehensive ADHD automation and testing infrastructure
  calendar_nudge_scheduler.py
  mcp_complete_dashboard.html
  mcp_integrated_dashboard.html
  music_autoplay_loop.py
  music_monitor.py
  real_cognitive_loop.py
  simple_working_server.py
  start.sh
  start_adhd_support.sh
  test_direct_nudge.py
  test_ha_simple.py
  tests/playwright/comprehensive_adhd_tests.py
  tests/playwright/stress_load_tests.py
Due: test-coverage

🔧 Fix music restart loop - add intelligent cooldowns
  src/mcp_server/component_adapters.py
  src/mcp_server/jellyfin_music.py
Due: test-coverage, adhd-performance-check

🔧 Fix premature track skipping - improve playback monitoring
  src/mcp_server/jellyfin_music.py
Due: test-coverage, adhd-performance-check

🎵 Complete Jellyfin playlist management implementation
  src/mcp_server/jellyfin_music.py
  src/mcp_server/minimal_main.py
Due: test-coverage, adhd-performance-check

🔧 Fix music system initialization with user_id parameter
  src/mcp_server/minimal_main.py
Due: test-coverage, adhd-performance-check

⚡ Optimize LLM performance with Claude-first routing
  src/mcp_server/llm_client.py
Due: test-coverage, adhd-performance-check

🔧 Fix Redis stability and performance issues
  src/mcp_server/minimal_main.py
  src/traces/memory.py
Due: test-coverage, adhd-performance-check

🧠 Add Claude V2 Cognitive Engine with full tool awareness
  src/mcp_server/claude_cognitive_engine_v2.py
  src/mcp_server/claude_v2_endpoint.py
  src/mcp_server/minimal_main.py
  src/mcp_server/music_controller.py
  src/mcp_server/task_manager.py
  src/mcp_server/timer_system.py
Due: test-coverage, adhd-performance-check

📚 Update documentation for Claude V2 Cognitive Engine
  CLAUDE.md
  cognitive_comparison_demo.py
Due: test-coverage

🎚️ Add confidence gating system to Claude V2 engine
  src/mcp_server/claude_cognitive_engine_v2.py
Due: test-coverage, adhd-performance-check

📚 Comprehensive documentation update for Claude V2 architecture
  DEVELOPMENT_PHASE_PLAN.md
  README.md
  V2_ARCHITECTURE_OVERVIEW.md
Due: none

🎨 Implement revolutionary Claude V2 ADHD-friendly UI
  V2_UI_DESIGN_PLAN.md
  src/mcp_server/minimal_main.py
  static/claude_v2_ui.html
Due: test-coverage, adhd-performance-check

🔧 Fix Claude response truncation and improve system validation
  SYSTEM_VALIDATION_REPORT.md
  claude_debug.png
  claude_response.png
  src/mcp_server/claude_cognitive_engine_v2.py
Due: test-coverage, adhd-performance-check

📚 Documentation update and GitHub issue grooming
  DATABASE_STATUS.md
  PROJECT_STATUS_AUGUST_2025.md
Due: none

🔧 Fix CI: Update deprecated upload-artifact v3 to v4
  .github/workflows/accessibility-testing.yml
  .github/workflows/issue-grooming.yml
  .github/workflows/security-hardening.yml
Due: none

🔧 Fix memory issues and infinite loops in background tasks
  .gitignore
  src/mcp_server/claude_system_browser.py
  src/mcp_server/config.py
  src/mcp_server/integration_hub.py
  src/mcp_server/jellyfin_music.py
Due: test-coverage, adhd-performance-check

🔧 Fix ChatResponse validation errors in minimal_main
  src/mcp_server/minimal_main.py
Due: test-coverage, adhd-performance-check

📚 Add comprehensive system recovery status document
  SYSTEM_RECOVERY_STATUS.md
Due: none

📊 Add comprehensive repository review document
  REVIEW.md
Due: none

fix dead link in README.md to quick start
  README.md
Due: none

📐 ADHDo 2.0 design spec: resident Claude Code brain + toolbelt on pi5-hailo
  docs/superpowers/specs/2026-07-10-adhdo2-design.md
Due: none

📐 ADHDo 2.0 spec rev 2: address hermes/codex/agy QA findings
  docs/superpowers/specs/2026-07-10-adhdo2-design.md
Due: none

📐 ADHDo 2.0 spec rev 3: resolve round-2 QA findings (wake contract, schedule table, connector split, resume semantics, config schema)
  docs/superpowers/specs/2026-07-10-adhdo2-design.md
Due: none

📋 ADHDo 2.0 P1 foundation implementation plan
  docs/superpowers/plans/2026-07-10-adhdo2-p1-foundation.md
Due: none

feat(adhdo2): package scaffold and config loader
  adhdo2/adhdolib/__init__.py
  adhdo2/adhdolib/config.py
  adhdo2/config.example.yaml
  adhdo2/pyproject.toml
  tests/adhdo2/__init__.py
  tests/adhdo2/conftest.py
Due: test-coverage

fix(adhdo2): relocate tests to adhdo2/tests, isolate from legacy pytest config
  .gitignore
  adhdo2/pyproject.toml
  adhdo2/tests/conftest.py
  adhdo2/tests/test_config.py
  tests/adhdo2/__init__.py
Due: test-coverage

feat(adhdo2): JSON error envelope for all CLIs
  adhdo2/adhdolib/envelope.py
  adhdo2/tests/test_envelope.py
Due: test-coverage

feat(adhdo2): sqlite layer with events/audit/schedule/rollups
  adhdo2/adhdolib/db.py
  adhdo2/tests/test_db.py
Due: test-coverage

feat(adhdo2): journal CLI with log/recent/patterns
  adhdo2/bin/journal
  adhdo2/tests/test_journal.py
Due: test-coverage

fix(adhdo2): store journal payloads as real JSON; bucket moods by daypart
  adhdo2/adhdolib/db.py
  adhdo2/bin/journal
  adhdo2/tests/test_journal.py
Due: test-coverage

feat(adhdo2): nudge rate-limit and quiet-hours logic
  adhdo2/adhdolib/nudgelimits.py
  adhdo2/tests/test_nudgelimits.py
Due: test-coverage

feat(adhdo2): nudge CLI with TTS pipeline, limits, resume
  adhdo2/bin/nudge
  adhdo2/tests/test_nudge.py
Due: test-coverage

fix(adhdo2): audit nudge failures for non-ToolError crashes
  adhdo2/bin/nudge
  adhdo2/tests/__pycache__/conftest.cpython-314-pytest-9.0.3.pyc
  adhdo2/tests/__pycache__/conftest.cpython-314-pytest-9.1.1.pyc
  adhdo2/tests/__pycache__/test_config.cpython-314-pytest-9.0.3.pyc
  adhdo2/tests/__pycache__/test_config.cpython-314-pytest-9.1.1.pyc
  adhdo2/tests/__pycache__/test_db.cpython-314-pytest-9.0.3.pyc
  adhdo2/tests/__pycache__/test_db.cpython-314-pytest-9.1.1.pyc
  adhdo2/tests/__pycache__/test_envelope.cpython-314-pytest-9.0.3.pyc
  adhdo2/tests/__pycache__/test_envelope.cpython-314-pytest-9.1.1.pyc
  adhdo2/tests/__pycache__/test_journal.cpython-314-pytest-9.0.3.pyc
  adhdo2/tests/__pycache__/test_journal.cpython-314-pytest-9.1.1.pyc
  adhdo2/tests/__pycache__/test_nudge.cpython-314-pytest-9.1.1.pyc
  adhdo2/tests/__pycache__/test_nudgelimits.cpython-314-pytest-9.0.3.pyc
  adhdo2/tests/__pycache__/test_nudgelimits.cpython-314-pytest-9.1.1.pyc
  adhdo2/tests/test_nudge.py
Due: test-coverage

feat(adhdo2): cast CLI with mood resolution and now_playing tracking
  adhdo2/bin/cast
  adhdo2/tests/test_cast.py
Due: test-coverage
